p {
  font-size: 25px;
}
img {
  width: 100px;
  border-radius: 50%;
}
table {
  margin-bottom: 10px;
}
table,
tr,
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 10px;
}
ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  text-align: center;
}
li {
  display: inline-block;
}
ul li a {
  color: white;
  background-color: black;
  padding: 10px;
}
a {
  border: 1px solid;
  border-color: black;
}
div {
  background-color: chocolate;
  padding: 10px;
  margin-bottom: 20px;
}
.one {
  background-color: aqua;
  font-size: 20px;
  padding: 5%;
}
.three {
  background-color: aqua;
  font-size: 40px;
  padding: 5%;
}
#frist {
  background-color: gray;
  padding: 50px;
}
#third {
  background-color: greenyellow;
  font-size: 18px;
  padding: 5%;
}
